<p id="notice"><%= notice %></p>

<center><h1>Listing Flats</h1></center>

<% @ads.each do |ad| %>
<div class="col-md-2">
  <%= image_tag "http://openpartners.pl/wp-content/uploads/2014/09/kurs_ruby_on_rails_openpartners.jpg", class: "img-responsive" %>
</div>

<div class="col-md-10">
  <div class="col-md-12">
    <h4><%= link_to ad.title, ad %></h4>
  </div>
  <div class="col-md-6">
    <strong>Address:</strong> <%= ad.address %> , <%= ad.city  %>
  </div>
  <div class="col-md-6">
    <strong>Price:</strong> <%= ad.price %>
  </div>
</div>
<div class="col-md-12"> 
  <hr>
</div>

<% end %>

