
<div class="col-md-3">
 <%= image_tag "http://openpartners.pl/wp-content/uploads/2014/09/kurs_ruby_on_rails_openpartners.jpg", class: "img-responsive" %>
</div>

<div class="col-md-9">
  <div class="col-md-12"> 
    <hr>
    <h4>
      <%= @ad.title  %>
    </h4>
  </div>
  <div class="col-md-6"> 
    <strong>Price:</strong>
    <%= @ad.price %>
  </div>
  <div class="col-md-6"> 
    <strong>Address:</strong>
    <%= @ad.address %>, <%= @ad.city %>
  </div>
  <div class="col-md-12"> 
    <hr>
    <strong>Description:</strong>
    <%= simple_format @ad.description %>
  </div>
</div>